.align-content {
    text-align: center;
}

.padding-content {
    padding: 5% !important
}

.text-orange-1 {
    color: #E87722;
}

.text-normal {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #183028;
}

.text-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #183028;
}

a {
    text-decoration: none;
}

.img-about {
    border-radius: 5px;
    opacity: 1;
}

.img-about:hover {
    webkit-filter: blur(2px);
    /* Chrome, Safari, Opera */
    filter: blur(2px);
}

.text--error {
    color: red;
    font-size: 12px;
}